.leaflet-container {
  height: 100%;
  width: 100%;
  background-color: #f7f9fc;
}

.leaflet-control-zoom .leaflet-control-zoom .leaflet-bar .leaflet-control {
  .leaflet-control-zoom-in {
    background-color: #3366ff !important;
    color: #ffffff;
    border-bottom: none;
  }

  .leaflet-control-zoom-out {
    background-color: #3366ff;
    color: #ffffff;
    border-bottom: none;
  }
}


.leaflet-control-attribution a {
  color: #3366ff !important;
  font-size: .6rem !important;
}
.divIcon {
  width: 70px;
  height: 70px;
  background-color: #990000;
  opacity: 0.4;
  border-radius: 60px;
}

.map {
  height: 100%;
  min-height: 100%;

  .map-holder {
    min-height: calc(100% - 49px);
    height: auto;
  }
}