
@font-face {
	font-family: 'Avenir';
	src: local('Avenir'), ('./fonts/Avenir/AvenirLTStd-Light.otf');
}

@font-face {
	font-family: 'AvenirBlack';
	src: local('Avenir'), ('./fonts/Avenir/AvenirLTStd-Black.otf');
}

@font-face {
	font-family: 'AvenirMedium';
	src: local('AvenirMedium'), ('./fonts/Avenir/Avenir-Medium.ttf');
}