.section-1 {
  width: 100%;
  position: relative;
  min-height: 125px;
  height: auto;
  clear: both;
}

.portal-card {
  // height: 81.5px;
}

.chart-wrapper {
  overflow: hidden;
  height: 200px;
}

.maps {
  overflow: hidden;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
  color: #fff;
  background-color: #0095ff;
  border-color: #0095ff;
}
