.image-holder {
  width: 100px !important;
  height: 100px !important;
  display: block !important;

}

.footer-button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  button {
    border-radius: 0;
  }
}

